/*Navbar, login, mainAdmin*/
#brand {
    font-family: Chiller;
    font-size: 30px;
}

#brandlogin {
    font-family: Chiller;
    font-size: 50px;
}

#subbrand {
    font-family: "Freestyle Script";
    font-size: 30px;
}

.alfa {
    font-size: 22px;
}

.alfalogin {
    font-size: 42px;
}

.imagenlogo {
    margin-top: 15px;
}

/*Clase Container para Formulario*/
.containerform {
    border: 1px solid #7b7b7b;
    border-radius: 25px;
    width: 700px;
    padding-top: 5px;
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}

form.jumbotron {
    border: 1px solid #7b7b7b;
    border-radius: 25px;
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}
/*Controles de Formulario*/

.textinput-1 {
    display: inline-block;
    height: 34px;
    width: 8.333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-2 {
    display: inline-block;
    height: 34px;
    width: 16.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textinput-3 {
    display: inline-block;
    height: 34px;
    width: 25%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-4 {
    display: inline-block;
    height: 34px;
    width: 33.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-5 {
    display: inline-block;
    height: 34px;
    width: 41.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-6 {
    display: inline-block;
    height: 34px;
    width: 50%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-7 {
    display: inline-block;
    height: 34px;
    width: 58.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-8 {
    display: inline-block;
    height: 34px;
    width: 66.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-9 {
    display: inline-block;
    height: 34px;
    width: 75%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-10 {
    display: inline-block;
    height: 34px;
    width: 83.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-11 {
    display: inline-block;
    height: 34px;
    width: 91.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textinput-12 {
    display: inline-block;
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ddselect-1 {
    display: inline-block;
    height: 34px;
    width: 8.333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-2 {
    display: inline-block;
    height: 34px;
    width: 16.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ddselect-3 {
    display: inline-block;
    height: 34px;
    width: 25%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-4 {
    display: inline-block;
    height: 34px;
    width: 33.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-5 {
    display: inline-block;
    height: 34px;
    width: 41.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-6 {
    display: inline-block;
    height: 34px;
    width: 50%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-7 {
    display: inline-block;
    height: 34px;
    width: 58.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-8 {
    display: inline-block;
    height: 34px;
    width: 66.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-9 {
    display: inline-block;
    height: 34px;
    width: 75%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-10 {
    display: inline-block;
    height: 34px;
    width: 83.33333333%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-11 {
    display: inline-block;
    height: 34px;
    width: 91.66666667%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ddselect-12 {
    display: inline-block;
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    margin: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formlabels {
    font-size: 15px;
    padding: 10px;
    text-align: right;
}

.formlabels1 {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.boton {
    margin-top: 10px;
    margin-bottom: 10px;
}
