/* Encabezado formatos */

#descripcionbrand {
    margin-top: 10px;
    padding-left: 0;
    margin-left: 2%;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

.desctitulo {
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-weight: bold;
}

/*Ficha de Proveedor*/

#tabla {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Confirmación de venta*/

.container-fluid {
    margin-bottom: 20px;
    margin-top: 20px;
}

section div p {
    text-align: justify;
}

#theadborder th{
    border: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#total {
    font-weight: bold;
}
/*OP*/
.observacionop {
    border: 1px solid;
    text-align: justify;
}
/*HE*/

.sideselect {
    margin: 5px;
}
.seperadorhe {
    height: 15px;
}

.table>thead>tr>th.thobservacion {
    text-align: left;
}
.table>tbody>tr>td.tdobservacion {
    text-align: justify;
}